.proj-main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 10vh;
    padding-bottom: 12vh;
}

.proj-column-pict{
    width: 22vw;
    height: 77vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.proj-column-gen{
    width: 30vw;
    height: 77vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.proj-name{
    height: 15vh;
    width: 100%;
    background-color: var(--color-primary);
    box-shadow: var(--x-shadow) var(--y-shadow) var(--blur-shadow) rgba(0,0,0,0.8);
}
.proj-name-logo{
    margin-top: 2vh;
    margin-left: 0.5vw;
    width: 20vw;
    height: 12vh;
}

.proj-image{
    height: 55vh;
    margin-top: 5vh;
    border-style: solid;
    border-width: var(--border-basic);
    /* border-color: rgb(97, 0, 0); */
    border-color: var(--color-primary);
    width: 100%;
    object-fit: cover;
    box-shadow: var(--x-shadow) var(--y-shadow) var(--blur-shadow) rgba(0,0,0,0.8);
}

.portrait-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: 20% 10%; */
}

.proj-dark1{
    /* margin-top: 10vh; */
    height: 32.5vh;
    width: 100%;
    background-color: var(--color-primary);
    color: white;
    box-shadow: var(--x-shadow) var(--y-shadow) var(--blur-shadow) rgba(0,0,0,0.8);
}
.proj-light1{
    height: 32.5vh;
    width: 100%;
    border-style: solid;
    border-width: var(--border-basic);
    border-color: var(--color-primary);
    box-shadow: var(--x-shadow) var(--y-shadow) var(--blur-shadow) rgba(0,0,0,0.8);
}

.proj-dark2{
    height: 32.5vh;
    width: 100%;
    background-color: var(--color-primary);
    color: white;
    box-shadow: var(--x-shadow) var(--y-shadow) var(--blur-shadow) rgba(0,0,0,0.8);
}
.proj-light2{
    /* margin-top: 10vh; */
    height: 32.5vh;
    width: 100%;
    border-style: solid;
    border-width: var(--border-basic);
    border-color: var(--color-primary);
    box-shadow: var(--x-shadow) var(--y-shadow) var(--blur-shadow) rgba(0,0,0,0.8);
}

.items{
    margin-top: 4vh;
    margin-left: 3vw;
}
p{
    font-size: 30px;
    font-weight: 400;
}

h2{
    margin-top: 2vh;
    margin-left: 1vw;
}
.clickable{
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

