* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  text-decoration: none;
}

:root{
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  overflow-x: hidden; 
  overflow-y: auto;
  --text-primary: rgb(255, 255, 255);
  --text-secondary: rgb(0, 0, 0);
  /* --color-primary: #67137C;
  --color-secondary: #1a031f; */
  --color-primary: #131d58;
  --color-secondary: #06031f;
  --border-basic: 10px;
  --x-shadow:4px;
  --y-shadow:5px;
  --blur-shadow:6px;
}

body{
  background-color: white;
  margin: 0;
  padding: 0;
}

main{
  margin-bottom: 5rem;
  padding: 1rem;
}
